@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
body {
  font: 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  font-weight: 300;
  padding: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}
h1 {
  font-size: 28px;
}
h1,
h2,
h3 {
  line-height: 1.1;
}
a {
  color: #39c;
  text-decoration: none;
  font-weight: 400;
}
.logo-container {
  text-align: right;
  float: left;
  padding-right: 50px;
  width: 350px;
}
.logo-container .logo-svg {
  height: 350px;
}
.logo-container-sidebar {
  padding-left: 15px;
}
.logo-container-sidebar .logo-svg {
  max-height: 150px;
}
.homepage-callout {
  float: left;
  width: 450px;
}
.wrapper {
  width: 910px;
  margin: 0 auto;
}
header {
  width: 225px;
  float: left;
  position: fixed;
  overflow-y: auto;
  height: 100%;
}
header ul {
  padding-left: 20px;
}
section {
  width: 660px;
  float: right;
  padding-bottom: 50px;
}
section > h1,
section > h2,
section > h3 {
  padding-top: 0;
  margin-top: 0;
}
section img {
  max-width: 100%;
}
.bottom-button-container {
  padding-top: 50px;
}
.index-button-container {
  width: 220px;
  display: inline-block;
  text-align: center;
}
.index-button-container .cta {
  font-weight: 700;
}
.index-button-container a {
  display: inline-block;
  width: 150px;
  padding: 10px;
  margin-top: 5px;
  background-color: #ccc;
  border-radius: 4px;
  color: black;
  font-weight: 700;
  color: white;
}
.index-button-container.teal a {
  background-color: #009a93;
  border: 2px solid #004e4a;
}
.index-button-container.teal a:hover {
  background-color: #00817b;
}
.index-button-container.orange a {
  background-color: #e96633;
  border: 2px solid #bb4314;
}
.index-button-container.orange a:hover {
  background-color: #e7551c;
}
.index-button-container.red a {
  background-color: #d95c5c;
  border: 2px solid #bd2c2c;
}
.index-button-container.red a:hover {
  background-color: #d44747;
}
.index-button-container.purple a {
  background-color: #3e3773;
  border: 2px solid #221e3f;
}
.index-button-container.purple a:hover {
  background-color: #352f62;
}
.hljs {
  background: transparent;
  font-size: 14px;
}
.hljs .xml {
  opacity: 1;
}
